//Colors -- START
//General
$light-gray: #ececec;
$transparent-gray: rgba(0,0,0,0.6);
$dark-blue: #030b33;
$midnight: #000219;

//Search bar
$search-bar-background: #f4f4f4;
$search-bar-icons: #acacac;
//Colors -- END
